<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>myQuiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet'
          type='text/css'
          media='(min-width: 800px)'
          href='/stylesheets/wide.css'
    />
    <link rel='stylesheet'
          type='text/css'
          media='(max-width: 480px)'
          href='/stylesheets/smartphone.css'
    />
  </head>


    <div id="page-wrap">

      <header class="main" id="h1">
        <h1>myQuiz</span></h1>
      </header>


      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Comenzar</a></span>
        <span><a href="/quizes/questions">Preguntas</a></span>
      </nav>


      <section class="main" id="s1">
        <%- body %>
      </section>

    </div>
  </body>
</html>