body { background: #ADD8E6; }

a:link {
color: #FF0000;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: #FF0000;
}
a:hover {
text-decoration: none;
color: #FF0000;
}
a:active {
text-decoration: none;
color: #FF0000;
}

//#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3 { display: none; }
body { font-size: xx-large; }
footer, input { font-size: large; }
#photocas, #videochimp { display: none; }
