<form method="get" action="/quizes/answer">

  Pregunta: <%- pregunta %><p>

  <% if(area instanceof Array){ %>
    <% for(var i=0; i<area.length; i++){ %>
      <%- area[i] %>
    <% } %>
  <% } else { %>
    <%- area %>
  <% } %>

  <br><br>

  <input type="submit" value="Enviar" />

</form>