<form method="get" action="/quizes/answer">

    Pregunta: <%- pregunta.get_pregunta() %><p>
        <%- pregunta.get_tam() %>


        <br><br>
        <input type="submit" value="Enviar" />

</form>